@font-face {
    font-family: 'indieflower';
    src: url('fonts/Indie_Flower/IndieFlower.ttf');
}
@font-face {
    font-family: 'blacksword';
    src: url('fonts/Blacksword/Blacksword.otf');
}
body {
    width: 100%;
    height: 100%;
    background-image: url('images/career-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-color:#22505e;
    opacity: .4;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
#logIn {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url('images/background-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#logInLogo {
    position: relative;
    top: 45%;
    font-size: 3rem;
}
#logInLogo h1 {
    display: inline-block;
}
#logInLogo h2 {
    display: inline-block;
    font-family: 'blacksword';
}
.input {
    height: 32px !important;
    font-size: 28px;
}
#submit {
    height: 25px;
    width: 10%;
    font: 15px;
}
aside {
    display: inline-block;
}
#appliedAdd {
    margin-left: 70px;
    font-size: 1.5em;
    color: white;
}
#appliedAdd form input {
    height: 20px;
    font-size: 15px;
}
#appliedAdd form input[name="company"] {
    margin-bottom: 6px;
}
#appliedAdd form textarea {
    display: block;
    margin-bottom: 6px;
}
#appliedAdd button {
    font-weight: bold;
    font-size: 150%;
}
#appliedAdd button:hover {
    background-color: #808080;
    cursor: pointer;
    margin: 0;
}
#appliedTo {
    outline: 1px solid black;
    height: 100px;
    width: 35%;
    margin-left: 200px;
    color: #737dc2;
}
.radio {
    display: inline-block !important;
}
.blocked {
    display: block;
}
.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
